# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS specific files
.DS_Store

# Logs and databases
*.log
*.sqlite3
interaction_logs.jsonl
history_per_channel.json

# Environment variables
.env

# Virtual environment
venv/
env/

# IDE specific files
.vscode/
.idea/

# Other
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
